@tailwind base;
@tailwind components;
@tailwind utilities;


.background {
    background-color: #f5f5f5;    
    opacity: 1;
    background-size: 96px 96px;
    background-image: linear-gradient(#f8f8f8 1px, transparent 1px), linear-gradient(to right, #faf8f8 1px, #f3f3f3 1px);
    
}

